<style>
    .bgimg{
        background-image: url('E:\op\src\app\login\pic_1.jpg');
        /* background-repeat: no-repeat; */
    }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    </style>
<body class="bgimg">
    <div class="center">
        <p-panel>
        <p-header style="font-size: large; font-weight: bold; color: rgb(21, 177, 164);">SIGNUP</p-header>
        <div *ngIf = "!valid">
            <h3 style="color: crimson; left: 50%;">
                User Id is already taken
            </h3>
        </div>
        <form [formGroup]="form" (ngSubmit) = "check()">
            <div>
                <label for="User Id" style="font-weight: bold;">User Id</label><br><br>
                <input id="User Id" type="text" pInputText formControlName= "user_id"> 
                <div *ngIf="!form.get('user_id').valid && submitted" style="color: red;" >User Id is required</div>
            </div>
            <br>
            <div>
                <label for="User Id" style="font-weight: bold;">Password</label><br><br>
                <input id="User Id" type="password" pInputText formControlName= "password"> 
                <div *ngIf="!form.get('password').valid && submitted" style="color: red;" >Password is required</div>
            </div>
            <br>
            <span><button pButton type="submit" label="Submit"></button></span>
            <span><p-button label="Login" styleClass="p-button-link" routerLink="/login"></p-button></span>
        </form>
        </p-panel>
    </div>
    </body>